<!DOCTYPE html>
<html>

<head>

</head>

<body> -->
<h1>Today</h1>


    <% time = Time.now %>
    <% wday = time.wday %>
    <% month = time.month %>
    <% day = time.day %>
    <% year = time.year %>

  <p><%= "The date is " + wday + ", " + month + " " + day + ", " + year%></p>
</body>

</html>


<!-- <h1>The date is <%=Date.today.strftime("%A, %B %d, %Y")%></h1> -->
